Flask
gunicorn

# PostgreSQL support
psycopg2-binary

# ORM and DB integration
Flask-SQLAlchemy

# Authentication and encryption
bcrypt
email-validator
Werkzeug

# Google OAuth and API support
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

# Optional: If you're switching from MySQL, remove the below
# mysql-connector-python
flask_login
dotenv